@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body { 
  background: #f0faff;
}
/*
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #4a98f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
*/

.nav,.nav-links{
  display: flex;
  align-items: center;
}

.nav{
  justify-content: space-between;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  background-color:#4a98f7 ;
  width: 100%;
  padding: 15px 200px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

a{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s ease all;
}

.nav-links li{
  list-style: none;
}

.nav-links{
  column-gap: 1rem;
}

.logo{
  font-size: 1.3rem;
  font-weight: 600;
}

.search-icon{
  color: #fff;
  font-size: 1.2rem;
}

.search-box{
  position: absolute;
  right: 250px;
  max-width: 555px;
  width: 100%;  
  height: 45px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease all;
}

.search-box .search-icon{
  position: absolute;
  color: #4a98f7;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.search-box input{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 45px;
}

.navOpenBtn,
.navCloseBtn{
  display: none;
}

.nav.openSearch .search-box{
  opacity: 1;
  pointer-events: auto;
}

.nav.openSearch .nav-links a{
  opacity: 0;
  pointer-events: none;
}



@media (max-width:768px) {

  .nav{
    padding: 15px 20px ;
  }

  .navCloseBtn,
  .navOpenBtn{
    display: block;
  }

  .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    padding-top: 100px;
    background-color: #333;
    max-width: 280px;
    width: 100%;
    height: 100%;
    row-gap: 1rem;
    z-index: 100;
    transition: 0.5s ease all;
  }
  
  .nav .navCloseBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.3rem;
  }

  .navOpenBtn{
    font-size: 1.3rem;
    color: #fff;
  }

  .nav.openNav .nav-links{
    left: 0;
  }

  .nav .search-box{
    top: calc(100% + 10px);
    width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }

}




